.add-service form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 80px;
}
.add-service form input, textarea{
    width: 30%;
    margin-bottom: 10px;
}